.download {
  width: 1300px;
  margin: auto;
}
.title {
  margin-top: 50px;
  text-align: center;
  .cnTitle {
    font-size: 2vw;
    font-weight: bold;
    z-index: 999;
    margin-top: -80px;
  }
  .enTitle {
    font-size: 2vw;
    font-weight: bold;
    z-index: -1;
    color: whitesmoke;
  }
}
.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
