.banner{
  background:wheat;
  height:500px;
  div{
    height: 100%;
    color: #fff;
    text-align: center;
    // background: #364d79;
  }
  .banner1, .banner2,.banner3{
      height:100%;
      // width:100%
      position: relative;
      .LectOutlined{
        position: absolute;
        font-size: 32px;
        color:#8e9399;
      }
      .LectOutlined:hover{
        color:white
      }
      .RightOutlined{
        position: absolute;
        font-size: 32px;
        color:#8e9399;
      }
      .RightOutlined:hover{
        color:white
      }
      .Btmbtn{
        height: 40px;
        width: 23px;
        border-radius: 40px;
        border: 2px solid white;
        position: absolute;
        bottom: 40px;
        left: 49.3%;
        p{
          background: white;
          width: 3px;
          height: 9px;
          position: absolute;
          top: 20%;
          border-radius: 19px;
          left: 42%;
        }
      }
  }

}