// PC端样式
.solution{
  width:1200px;
  margin:0 auto;
  background:white;
  overflow: hidden;
  margin-bottom: 150px;
  .solution_top{
    width:100%;
    position: relative;
    p:nth-child(1){
      position: relative;
      color: #41aeff;
      font-size: 34px;
      display: flex;
      text-align: center;
      justify-content: center;
      z-index: 1;
      font-weight: 600;
      margin-top: 117px;
    }
    p:nth-child(2){
      color: #ecf0f3;
      font-size: 39px;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      opacity: 0.6;
      font-weight: 600;
      margin-top: -41px;
    }
  }
  >p{
    font-size:17px;
    margin-top:4%;
    color:#737373;
    display: flex;
    justify-content: center;
  }
  .solution_btm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    >div{
      transition:all 1s;
      margin-top: 0.5%;
      position: relative;
      border-radius: 9px;
      .solution_btm_txt{
        font-size: 20px;
        color:white;
        font-weight: 600;
        position: absolute;
        bottom: 3%;
        left:3%;
        transition:all .6s;
      }
      .solution_btn_opc{
        opacity: 0;
        width:100%;
        height:99%;
        background:black;
        border-radius: 9px;
        transition:all .6s;
        img{
          width: 23%;
          margin-left: 38%;
          margin-top: 16%;
        };
        p{
          margin:0;
          color:white;
          padding:0 10%;
          margin-top: 5%;
          text-indent: 30px;
        }
        span{
          text-indent: 46px;
          line-height: 20px;
          display: block;
          color:white;
          width: 242px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    >div:hover{
      .solution_btm_txt{
        opacity:0 ;
      }
      .solution_btn_opc{
        opacity: .5;
      }
    }
  }
  .solution_btm >div:hover{
    cursor: pointer;
  }
}

@import "~components/style/style.less";
// 手机端样式
@media screen and (max-width:1200px) {
  .solution{
    .setH(1000);
    .setW();
    margin-bottom: 34vw;
    .solution_top{
      p:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 0;
        margin: 0;
        margin-top: 10vw;
        font-size: 5.80645161vw
      }
      p:nth-child(2){
        width: 100vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5vw;
        .setF(28);
      }
    }
    >p{
      .setF(20);
      display: flex;
      justify-content: center;
      align-items: center;
      top:20vw;
    }
    .solution_btm{
      .setW(588);
      .setH(700);
      display: flex;
      margin:0 auto;
      margin-top: 13vw;
      >div{
        .setW(288);
        .setH(221);
        .solution_btn_opc{
          display: none;;
        }
        .solution_btn_opc:hover{
          display: none;
        }
      }
    }
  }
}