.serviceSupport{
  width:100%;
  background:white;
  height:1000px;
  overflow: hidden;
  .serviceSupport_top{
    width:100%;
    position: relative;
    p:nth-child(1){
      position: absolute;
      color:#41aeff;
      font-size:34px;
      display: flex;
      text-align: center;
      justify-content: center;
      z-index: 1;
      font-weight: 600;
      left:44.6%;
      top:96px;
    }
    p:nth-child(2){
      color:#ecf0f3;
      font-size:39px;
      position: absolute;
      top:13%;
      left:37.8%;
      opacity: .6;
      font-weight: 600;
      top:96px;
      margin-top: 10px;
    };
  }
  >p{
    font-size:17px;
    margin-top:15%;
    color:#737373;
    display: flex;
    justify-content: center;
  }
  .serviceSupport_content{
    display: flex;
    justify-content: space-between;
    margin-top: 186px;
    >div{
      width:23%;
      height:379px;
      background:#ecf6ff;
      border-radius: 14px;
      position: relative;
      p{
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 102px;
      }
      div{
        width:100%;
        height:200px;
        top: -105px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        .serviceSupport_content_bx{
          display: block;
          height:182px;
          width:182px;
          border-radius: 50%;
          box-shadow:0px 3px 5px #50afff;
        }
      }
    }
    .serviceSupport_content_icon{
      color:#50afff;
      font-size: 25px;
      position: absolute;
      top:128px;
      right:28px;
    }
  }
}